<section class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Sección Libros
      </div>
      <div class="card-body">
        <h5 class="card-title">Administración de Libros</h5>
        <p class="card-text">Ingresa para administrar los Libros</p>
        <a [routerLink]="'/books'" class="btn btn-primary">Ir a Libros</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        Sección Autores
      </div>
      <div class="card-body">
        <h5 class="card-title">Administración de Autores</h5>
        <p class="card-text">Ingresa para administrar los Autores</p>
        <a [routerLink]="'/authors'" class="btn btn-primary">Ir a Autores</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        Sección Editoriales
      </div>
      <div class="card-body">
        <h5 class="card-title">Administración de Editoriales</h5>
        <p class="card-text">Ingresa para administrar las Editoriales</p>
        <a [routerLink]="'/editorials'" class="btn btn-primary">Ir a Editoriales</a>
      </div>
    </div>
  </div>
</section>
